main {
  width: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 30px;
}

.jatekter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid: 5px;
}

.jatekter div {
  aspect-ratio: 1; /* oldalarány */
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 35px;
}

.footer {
  font-weight: bold;
}
